# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.venv/
venv/
env/
*.codex


# Build artifacts
build/
bin/
lib/
*.o
*.obj
*.so
*.dll
*.dylib
*.a
*.out

.vscode/

# datasets
src/exercises/ml-classification/assets/carro/
src/exercises/ml-classification/assets/pedestre/
